{% extends "::base.html.twig" %}

{% trans_default_domain 'At21EBoxOfficeBundle' %}

{% block body %}
    {% for play in plays %}
        <div class="four wide column">
            <div class="ui segment">
                <h2 class="ui header">{{ play.title }}</h2>
                <p>{{ play.description }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}